{% extends 'layouts/master.twig' %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <!-- BEGIN OUTPUT from 'resources/views/home.twig' -->
       <div id="content" class="col-12">
           {#{% include 'test-select.twig' with {'tests': tests} only %}#}
       </div>
    <!-- END OUTPUT from 'resources/views/home.twig' -->
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ base_path }}/js/spa.js?rand={{ random() }}"></script>
    <script src="{{ base_path }}/js/spa-app.js?rand={{ random() }}"></script>
    <script src="{{ base_path }}/js/app.js?rand={{ random() }}"></script>
{% endblock %}
