<!-- BEGIN OUTPUT from 'resources/views/question.twig' -->
<div class="col-12 mb-3">
    <h2 class="text-center">
        {% if question is empty %}
            Jautājums
        {% else %}
            {{ question.name }}
        {% endif %}
    </h2>
</div>
<div class="col-12">
    <div class="row justify-content-center">
        <form id="user_question" class="col-12 col-sm-11 col-md-10 col-xl-8">
            {% if question is empty %}
                <input type="hidden" name="question" value="">
            {% else %}
                <input type="hidden" name="question" value="{{ question.id }}">
            {% endif %}
            <input id="answer_input" type="hidden" name="answer" value="">
            <div class="row">
               {% if question is empty %}
                   Nav Jautājumu
               {% else %}
                   {% for answer in answers %}

                       <div class="answers-list col-12 col-lg-6 mb-2">
                           <div class="answer-item content-box inner-box " data-target="{{ answer.id }}">
                               {#<input id="answer_{{ answer.id }}" class="answer-checkbox d-none" type="checkbox"#}
                                      {#name="{{ answer.id }}">#}
                               <div class="content-body d-flex justify-content-center minh-100">
                                   <p class="text-center m-0 align-self-center">{{ answer.name }}</p>
                               </div>
                           </div>
                       </div>

                   {% endfor %}
               {% endif %}
            </div>
            <div class="row justify-content-center pt-3">
                <div class="col-12 col-md-8">
                    <div id="progressbar"
                         data-max="{{ questions_count == null ? '0' : questions_count }}"
                         data-current="{{ user_answers_count == null ? '0' : user_answers_count }}"> </div>
                </div>
            </div>
            <div class="row justify-content-center pt-3">
                <div class="col-6">
                    <button id="next_question" class="btn btn-green w100">
                        Nākamais
                    </button>
                </div>
            </div>
            <div class="row justify-content-center pt-3">
                <div id="feedback" class="col-8">

                </div>
            </div>
        </form>
    </div>
</div>
<!-- END OUTPUT from 'resources/views/question.twig' -->
