{% extends 'layouts/master.twig' %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <!-- BEGIN OUTPUT from 'resources/views/home.twig' -->
    <div id="content" class="col-12">
        {% include 'result.twig' %}
    </div>
    <!-- END OUTPUT from 'resources/views/home.twig' -->
{% endblock %}

{% block scripts %}
    {{ parent() }}

{% endblock %}