<!-- BEGIN OUTPUT from 'resources/views/result.twig' -->
<div class="col-12 mb-3">
    <h2 class="text-center">
        {% if user_name is empty %}
            Paldies!
        {% else %}
            Paldies, {{ user_name }}!
        {% endif %}
    </h2>
</div>
<div class="col-12">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-md-10 col-xl-8 text-center">

            {% if question_count is empty %}
                Tu esi malacītis!
            {% else %}
                {% if right_answer_count is empty %}
                    Tu atbildēji pareizi uz {{ question_count }} jauntājumiem.
                {% else %}
                    Tu atbildēji pareizi uz {{ right_answer_count }} no {{ question_count }} jauntājumiem.
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<!-- END OUTPUT from 'resources/views/result.twig' -->