<!-- BEGIN OUTPUT from 'resources/views/test-select.twig' -->
       <div class="col-12 mb-3">
           <h2 class="text-center">Testa uzdevums</h2>
       </div>
       <div class="col-12">
           <div class="row justify-content-center">
               <form id="test_select_form" class="col-12 col-sm-8 col-md-7 col-lg-6 col-xl-4">
                   <div class="form-group row">
                       <div class="col-12">
                           <input type="text" class="form-control" id="user_name" name="user_name" placeholder="Ievadiet savu vārdu">
                       </div>
                   </div>
                   <div class="form-group row">
                       <div class="col-12">
                           <select id="test_select" class="form-control" name="test_select">
                               <option value selected="">Izvēlies testu</option>
                               {% for test in tests %}
                                   <option value="{{ test.id }}">{{ test.name }}</option>
                               {% endfor %}
                           </select>
                       </div>
                   </div>
                   <div class="row justify-content-center pt-3">
                       <div class="col-6">
                           <button id="test_begin" class="test_begin btn btn-green w100">
                               Sākt
                           </button>
                       </div>
                   </div>
               </form>
           </div>
       </div>
   </div>
<!-- END OUTPUT from 'resources/views/test-select.twig' -->
