.answers-list {
  margin-bottom: 15px;
  .answer-item {
    position: relative;
    background: rgba(255,255,255,.5);
    cursor: pointer;
    input.product-checkbox {
      position: absolute;
      top: $grid-gutter-width / 2;
      left: $grid-gutter-width / 2;
    }
    &.selected {
      box-shadow: 0 1px 10px rgba(180, 180, 180, 1);
      background: #ffffff;
    }
  }
}

ul.feedback {
  > li {
    text-align: center;
  }
}