h1, h2, h3, h4, h5, h6 {
	margin: 0;
    margin-bottom: 0px;
	padding-bottom: 15px;
}


@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$min-map: map-get($grid-breakpoints, $breakpoint);
		$min: if($min-map != 0, $min-map, null);
		$infix: if($min == null, "", "-#{$breakpoint}");

		.text#{$infix}-left   { text-align: left !important; }
		.text#{$infix}-right  { text-align: right !important; }
		.text#{$infix}-center { text-align: center !important; }
	}
}