.btn {
	&.full-width
	{
		width:100%;
		//display:block; //only if you're having issues
	}
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	&:not(:disabled),
	&:not(.disabled) {
		cursor: pointer;
	}
	&.btn-grey {
		color: #000;
		background-color: $spa-color-grey-2;
		border-color: $spa-color-grey-2;
		&:hover {
			color: #fff;
			background-color: $spa-color-grey-2;
			border-color: $spa-color-grey-3;
		}
	}
	&.btn-green {
		color: #fff;
		background-color: $spa-color-green-1;
		border-color: $spa-color-green-1;
		&:hover {
			color: #fff;
			background-color: $spa-color-green-2;
			border-color: $spa-color-green-2;
		}
		&.disabled {
			color: #fff;
			background-color: $spa-color-green-0;
			border-color: $spa-color-green-0;
		}
	}
	&.btn-outline-grey {
		color: $spa-color-grey-3;
		background-color: transparent;
		background-image: none;
		border-color: $spa-color-grey-3;
		&:hover {
			color: #fff;
			background-color: $spa-color-grey-3;
			border-color: $spa-color-grey-3;
		}
	}
	&.btn-outline-green {
		color: $spa-color-green-2;
		background-color: transparent;
		background-image: none;
		border-color: $spa-color-green-2;
		&:hover {
			color: #fff;
			background-color: $spa-color-green-2;
			border-color: $spa-color-green-2;
		}
		&.disabled {
			color: $spa-color-green-0;
			border-color: $spa-color-green-0;
		}
	}
	&.disabled {
		pointer-events: none;
	}
}


.btn-group-sm > .btn, .btn-sm {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: .2rem;
}

.btn:not(:disabled):not(.disabled) {
	cursor: pointer;
}

[type="reset"], [type="submit"], button, html [type="button"] {
	-webkit-appearance: button;
}

.form-control-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-append > .btn, .input-group-sm > .input-group-append > .input-group-text, .input-group-sm > .input-group-prepend > .btn, .input-group-sm > .input-group-prepend > .input-group-text {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: .2rem;
}

.input-group-sm > .input-group-append > select.btn:not([size]):not([multiple]), .input-group-sm > .input-group-append > select.input-group-text:not([size]):not([multiple]), .input-group-sm > .input-group-prepend > select.btn:not([size]):not([multiple]), .input-group-sm > .input-group-prepend > select.input-group-text:not([size]):not([multiple]), .input-group-sm > select.form-control:not([size]):not([multiple]), select.form-control-sm:not([size]):not([multiple]) {
	height: calc(1.8125rem + 2px);
}
