.form-group {
  margin-bottom: 1rem;
}

.col-form-label {
  padding-top: calc(.375rem + 1px);
  padding-bottom: calc(.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    //box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
  }
}

button, input {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

ul {
  &.feedback {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
}

.feedback {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;

}