@media screen and (max-width: 979px) {

}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

//@media screen and (max-width: 767px) {
//    .intro {
//		height: 200px;
//	}
//	.cat-list {
//		margin-bottom: 10px;
//		border-bottom: 1px solid #e3e3e3;
//		padding-bottom: 0px;
//		.cat-title {
//			font-size: 100%;
//		}
//	}
//	.content-box {
//		.content {
//			&-title {
//				.title {
//					&-1 {
//						margin-bottom: 10px;
//					}
//				}
//			}
//		}
//	}
//}
//@media screen and (max-width: 979px) {
//    .intro {
//		height: auto;
//		padding-bottom: 30px;
//		padding-top: 30px;
//		.search-item {
//			margin-bottom: 15px;
//			.form-control, .search-btn {
//				border-radius: 3px !important;
//			}
//		}
//	}
//}
//@media screen and (min-width: 768px) {
//    .cat-items {
//		&.collapse {
//			height: auto !important;
//			display: block;
//
//		}
//	}
//	.cat-collapse-btn {
//		display: none !important;
//	}
//}