<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - Printful</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ base_path }}/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ base_path }}/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ base_path }}/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ base_path }}/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ base_path }}/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ base_path }}/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ base_path }}/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ base_path }}/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ base_path }}/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ base_path }}/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ base_path }}/favicons/favicon-16x16.png">
        <link rel="manifest" href="{{ base_path }}/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ base_path }}/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}
    {# Stylesheets content block #}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ base_path }}/js/jquery-ui-1.12.1/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="{{ base_path }}/css/app.css?rand={{ random() }}" />
    {% endblock %}
</head>
<body>
<div id="app" class="container d-flex justify-content-center minh-100">
    <div class="row align-self-center w-100 pt-5 pb-5">
        {# Project content wrapping block #}
        {% block content %}{% endblock %}
    </div>
</div>
<form id="csrf_form">
        {#{{ csrf.field | raw }}#}
</form>

{# Script content block #}
{% block scripts %}
    <script src="{{ base_path }}/js/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
    <script src="{{ base_path }}/js/jquery-ui-1.12.1/jquery-ui.js"></script>
{% endblock %}
</body>
</html>